<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Social, Markdown Wikis</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Create and share Markdown Wikis</h2>
    <% if !user_signed_in? %>
      <button><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></button>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="public">
    <% if user_signed_in? %>
      <h2>Create as many public wikis as you want!</h2>
      <%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-success' %>
    <% elsif !user_signed_in? %>
      <h2>Sign in to create public wikis, free!</h2>
    <% end %>
  </div>
  <div class="premium">
      <h2>Sign up for Premium to create private wikis!</h2>
      <%= link_to "Sign Up For Premium", new_charge_path, class: 'btn btn-success' %>
  </div>
</div>
</div>
