<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Social, Markdown Wikis</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Create and share Markdown Wikis</h2>
    <button>Sign up</button>
  </div>
</div>
<div class="row">
  <div class="public">
    <h2>Create as many public wikis as you want!</h2>
    <button>Free Plan</button>
  </div>
  <div class="premium">
    <h2>Create private wikis!</h2>
    <button>Premium Plan</button>
  </div>
</div>
</div>
