= form_tag charges_path do
  %h4 Click to upgrade to a Premium Membership!
  %h5
    Create private wikis that only you can see for just $15.00
    %h5
      %script.stripe-button{"data-amount" => "#{@stripe_btn_data[:amount]}", "data-description" => "#{@stripe_btn_data[:description]}", "data-key" => "#{@stripe_btn_data[:key]}", :src => "https://checkout.stripe.com/checkout.js"}
